<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head> 
  <body>
    <div class="container">
      
      <div class="row justify-content-end mt-3" >
        <div class="col-2">          
          <a href="register" class="link-primary">Registration</a>
        </div>          
      </div>       
            
      <div class="row justify-content-center" style="margin-top: 20px;">
        <div class="col-6">
          <h3>Authorization form</h3>
          <form method="post" action="/">
            <div class="mb-3">
              <label for="inputLogin" class="form-label">Login</label>
              <input type="text" class="form-control" id="inputLogin" name="login">
              <div id="loginHelp" class="form-text">We'll never share your login with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="inputPassword" class="form-label">Password</label>
              <input type="password" class="form-control" id="inputPassword" name="password">
              <div id="userRegistered" class="form-text <%= typeof textDanger != 'undefined' ? textDanger : '' %>">
                <%= typeof msgString != 'undefined' ? msgString : ''%>
              </div>
            </div>            
            <div class="float-end">
              <button type="submit" class="btn btn-primary">Log in</button>
            </div>            
          </form>
        </div>       
      </div>      
    </div>    
  </body>
</html> 
